body {
    min-width: 320px;
    margin: 0;
}
h1 {
    font-family: 'Arial Black';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;

    line-height: 101.3%;
    text-transform: uppercase;

    color: #7A3CE3;

    height: 40px;
}
p {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.3%;

    text-align: center;
    letter-spacing: 0.025em;

    color: #4F84F7;
}
img {
    max-width: 100%;
    height: auto;
}
.logo-content {
    margin-top: 25px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.link-content img:nth-child(1) {
    display: block;
}
.link-content img:nth-child(2) {
    position: absolute;
    top: 630px;
    z-index: 1;
} 
.link-content img:nth-child(3) {
    position: absolute;
    top: 630px;
}
.link-content img:nth-child(4) {
    position: absolute;
    top: 783px;
    z-index: 2;
}
.link-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 610px;

    z-index: 3;
} 
.link-icons {
    cursor: pointer;
} 

@media only screen and (max-width: 1300px) {
    .link-content img:nth-child(4) {
        top: 765px;
    }
}
@media only screen and (max-width: 1100px) {
    .link-content img:nth-child(4) {
        top: 750px;
    }
}
@media only screen and (max-width: 1000px) {
    .link-content img:nth-child(4) {
        top: 740px;
    }
}
@media only screen and (max-width: 900px) {
    .link-content img:nth-child(4) {
        top: 725px;
    }
}
@media only screen and (max-width: 800px) {
    .link-content img:nth-child(4) {
        top: 715px;
    }
    .link-icons {
        top: 540px;
    }
    .main-content p{
        font-size: 20px;
    }
    .link-content img:nth-child(1) {
        position: relative;
        top: 88px;
    }
}
@media only screen and (max-width: 750px) {
    h1 {
        font-size: 60px;
    }
}
@media only screen and (max-width: 700px) {
    .link-icons {
        top: 500px;
    }
    .link-content img:nth-child(4) {
        top: 710px;
    }
    .main-content p{
        width: 100%;
    }
    .content-text {
        padding: 10px 10px;
    }
}
@media only screen and (max-width: 600px) {
    .link-content img:nth-child(4) {
        top: 695px;
    }
}
@media only screen and (max-width: 550px) {
    h1 {
        text-align: center;
    }
    .link-content img:nth-child(1) {
        position: relative;
        top: 72px;
    }
    .link-content img:nth-child(4) {
        top: 690px;
    }
    .main-content {
        padding: 0px 10px;
    }
}
@media only screen and (max-width: 534px) {
    .content-text {
        margin-top: 35px;
    }
    .link-icons {
        top: 540px;
    }
    .link-content img:nth-child(1) {
        top: 42px;
    }
}
@media only screen and (max-width: 526px) {
    .link-content img:nth-child(1) {
        top: 34x;
    }
    .link-icons {
        flex-flow: wrap;
        margin-top: 35px;
    }
    .link-icons a img {
        width: 100px;
        height: 100px;
    }
    .link-content img:nth-child(1) {
        top: 21px;
    }
}
@media only screen and (max-width: 490px) {
    .link-content img:nth-child(1) {
        top: 80px;
    }
    .link-content img:nth-child(4) {
        top: 680px;
    }
    .main-content p{
        font-size: 16px;
    }
    .link-icons {
        margin-top: 0px;
    }
}
@media only screen and (max-width: 430px) {
    .link-content img:nth-child(1) {
        top: 70px;
    }
    .link-content img:nth-child(4) {
        top: 675px;
    }
}
@media only screen and (max-width: 410px) {
    .link-content img:nth-child(1) {
        top: 55px;
    }
}